@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Space+Mono:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.option-amount-fill {
  @apply top-0 left-0 bottom-0 bg-orange-500 absolute;
  width: calc(var(--probability) * 100%);
}

.text-wrap-balance {
  text-wrap: balance;
}

.nice-small-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.nice-small-scrollbar::-webkit-scrollbar-track {
  @apply bg-neutral-100;
}

.nice-small-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-500;
}

/** Put edges in the front **/
.react-flow__edges {
  z-index: 1 !important;
}

/** Put right nodes in front of edges **/
.react-flow__node-estimate,
.react-flow__node-derivative,
.react-flow__node-metaforecast {
  z-index: 2 !important;
}
